html {
    background-color: #FAFAFA;
}

/* ---------- HEADER STYLE BELOW ---------- */
header {
    width: auto;
    height: 100px;
    margin: 0% 2% 0% 2%;
    padding: 0% 0% 0% 0%;
    position: sticky;
    top: 2%;
    z-index: 10;
}

nav {
    background-color: #FAFAFA;
    border-radius: 3px;
    height: 50%;
    display: grid;
    white-space: nowrap;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    box-shadow: 0px -20px 1.5px 35px #FAFAFA;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 3;
}

.logo h1 {
    display: inline-block;
    position: absolute;
    top: -5px;
    color: #555555;
    font-family: "Inter";
    font-weight:  600;
    font-size: 22px;
    grid-column-start: 1; 
    grid-column-end: 4;
    margin-left: 2.5%
}

.logo h1:hover {
    color: #373737;
}

.menu {
    grid-column-start: 4;
    grid-column-end: 4;
    position: relative;
    top: 0;
    color: #555555;
    font-family: "Inter";
    font-size: 14px;
    justify-self: end;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
}

.work {
    margin-right: 20%;
}

.about {
    margin-left: 10%;
    font-weight: 600;
    color: #373737;
}

.work:hover {
    color: #000000;
}

.menu li {
    display: inline;
}

a {
    color: inherit;
    text-decoration: none;
}
/* ---------- main style below ---------- */
main {
    padding: 0% 20% 20% 20%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    main {
        padding: 0%;
        margin: 0% 4% 45% 4%;
    }
    .aboutme {
        border-radius: 0px;
    }
}

.aboutme {
    border-radius: 10px;
    position: relative;
    top: 100px;
}

.picture {
    height: 420px;
    width: auto;
    background-image: url('/resources/img/about.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 7px 7px 0px 0px;
}

.picture p {
    font-family: 'inter';
    color: #FFFFFF;
    text-align: right;
    position: relative;
    right: 5%;
    top: 90%;
    font-weight: 600;
}

.bio {
    background-color: #E0E0E0;
    border-radius: 0px 0px 7px 7px;
    height: auto;
    font-family: 'Inter';
    font-size: 22px;
    padding: 5%;
    color: #2C2C2C;
}

main p {
    line-height: 1.75;

}

/* ---------- footer style below ---------- */
@media only screen and (max-width: 768px) {
    footer {
        z-index: -1
    }
}

footer {
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: 3.5%;
    position: sticky;
    bottom: 2.5%;
}

footer ul {
    padding: 1% 2% 1% 1%;
    border-radius: 3px;
    text-align: right;
}

footer li {
    display: inline-block;
    padding-inline: 10%;
}

footer img {
    width: 75%;
    filter: invert(25%) sepia(0%) saturate(13%) hue-rotate(238deg) brightness(97%) contrast(95%);
}

footer img:hover {
    filter: invert(25%) sepia(0%) saturate(13%) hue-rotate(238deg) brightness(60%) contrast(95%);
}