html {
    background-color: #dbdbdb;
}

header {
    padding: 1%;
    background-color: aquamarine;
    grid-row-start: 1;
    grid-row-end: 1;
}

nav {
    background-color: bisque;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;

}

main {

}

footer {
    background-color: aquamarine;
    padding: 50px 25px 5px 25px;
    font-family: "Inter";
}

.logo h1 {
    background-color: chocolate;
    font-family: "Inter";
    font-weight:  600;
    font-size: 1.25rem;
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu {
    grid-column-start: 4;
    grid-column-end: 4;
}

nav .menu {
    background-color: chocolate;
    font-family: "Inter";
    font-size: 1rem;
    text-align: end;
}

.menu li {
    display: inline;
}

main h1 {
    background-color: aquamarine;
    text-align: center;
    padding: 150px 25px 150px 25px;
}

footer ul {
    background-color:bisque;
    text-align: center;
    position
}

img {
    max-width: 100%;
    height: auto;
}

li {
    display: inline;
    text-align: center;
}