html {
    background-color: #FAFAFA;
}

/* ---------- HEADER STYLE BELOW ---------- */
header {
    width: auto;
    height: 100px;
    margin: 0% 2% 0% 2%;
    position: sticky;
    top: 2%;
    z-index: 10;
}

nav {
    background-color: #FAFAFA;
    border-radius: 3px;
    height: 50%;
    display: grid;
    white-space: nowrap;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    box-shadow: 0px -15px 1.5px 35px #FAFAFA;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 4;
}

.logo h1 {
    display: inline-block;
    position: absolute;
    top: -5px;
    color: #555555;
    font-family: "Inter";
    font-weight:  600;
    font-size: 22px;
    grid-column-start: 1; 
    grid-column-end: 4;
    margin-left: 2.5%
}

.logo h1:hover {
    color: #373737;
}

.menu {
    grid-column-start: 4;
    grid-column-end: 4;
}

nav .menu {
    background-color: #FAFAFA;
    position: relative;
    top: 0;
    color: #555555;
    font-family: "Inter";
    font-size: 14px;
    text-align: end;
    margin-top: auto;
    margin-bottom: auto;
}

.work {
    font-weight: 600;
    margin-right: 20%;
    color:#373737;
}

.menu {
    margin-right: 15%
}

.about:hover {
    color: #000000;
}

.work:hover {
    color: #2c2c2c;
}

.menu li {
    display: inline;
}

a {
    color: inherit;
    text-decoration: none
}
/* ---------- MAIN STYLE BELOW ---------- */
main {
    padding: 5% 4.25% 17% 4.25%;
}

main .title {
    background-color: #FAFAFA;
    color: #2C2C2C;
    font-family: "Inter";
    text-align: left;
    padding: 5% 0% 5% 0%;
    margin: 5% 0% 20% 0%;
    font-size: 24px;
}

main .forkit {
    background-color: #FAFAFA;
    font-family: "Inter";
    font-size: 24px;
    visibility: visible;
    max-width: 100px;
    text-align: left; 
}

.title p:hover {
    text-decoration: underline;
}

/* -------------------//------------------- */

main .projects {
    height: 500px;
    width: 300px;
} 

main .project1 {
    background-image: url("../img/project1.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: 5% 30%;
    background-color: #FFFFFF;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    transition: 0.25s;
}

.project1:hover {
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.onhover {
    display: none;
    position: relative;
    bottom: 11%;
    left: 8%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s;
}

.project1:hover + .onhover {
    display: block;
    color: #555555;
    transition: 0.5s;
}

.onhover:hover {
    display: block;
    cursor: default;
}

/* ---------- footer style below ---------- */
footer {
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: 3.5%;
    position: sticky;
    bottom: 2.5%;
}

footer ul {
    padding: 1% 2% 1% 1%;
    border-radius: 3px;
    text-align: right;
}

footer li {
    display: inline-block;
    padding-inline: 10%;
}

footer img {
    width: 75%;
    filter: invert(25%) sepia(0%) saturate(13%) hue-rotate(238deg) brightness(97%) contrast(95%);
}

footer img:hover {
    filter: invert(25%) sepia(0%) saturate(13%) hue-rotate(238deg) brightness(60%) contrast(95%);
}