html {
    background-color: #FAFAFA;
}

/* ---------- HEADER STYLE BELOW ---------- */
header {
    width: auto;
    height: 100px;
    margin: 0% 2% 0% 2%;
    padding: 0% 0% 0% 0%;
    position: sticky;
    top: 2%;
    z-index: 10;
}

nav {
    background-color: #FAFAFA;
    border-radius: 3px;
    height: 50%;
    display: grid;
    white-space: nowrap;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    box-shadow: 0px -20px 1.5px 35px #FAFAFA;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 3;
}

.logo h1 {
    display: inline-block;
    position: absolute;
    top: -5px;
    color: #555555;
    font-family: "Inter";
    font-weight:  600;
    font-size: 22px;
    grid-column-start: 1; 
    grid-column-end: 4;
    margin-left: 2.5%
}

.logo h1:hover {
    color: #373737;
}

.menu {
    grid-column-start: 4;
    grid-column-end: 4;
    position: relative;
    top: 0;
    color: #555555;
    font-family: "Inter";
    font-size: 14px;
    justify-self: end;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
}

.work {
    margin-right: 20%;
    color:#373737;
}

.about {
    margin-left: 10%;
}

.about:hover {
    color: #000000;
}

.work:hover {
    color: #2c2c2c;
}

.menu li {
    display: inline;
}

a {
    color: inherit;
    text-decoration: none;
}
/* ---------- MAIN STYLE BELOW ---------- */
main {
    padding: 5% 4.25% 17% 4.25%;
}

main h1 {
    background-color: #FAFAFA;
    color: #2C2C2C;
    font-family: "Inter";
    text-align: left;
    padding: 5% 0% 0% 0%;
    margin: 5% 0% 0% 0%;
    font-size: 42px;
}

main h3 {
    background-color: #FAFAFA;
    color: #2C2C2C;
    font-family: "Inter";
    text-align: left;
    font-weight: 500;
    margin: 1% 0% 20% 0%;
}


/* ------------------- CONVERTER STYLE BELOW ------------------- */

.converter {
    background-color: #CCCCCC;
    height: 400px;
    margin: 0% 0% 20% 0%;
}

.celsinput {
    background-color: #000000;
    height: 200px;
    width: 200px;
}

.celsinfo {
    background-color: #f12f12;
    height: 150px;
    width: 200px;
}

.farinput {
    background-color: #FFFFFF;
    height: 200px;
    width: 200px;
}

.farinfo {
    background-color: #986976;
    height: 200px;
    width: 200px;
}

/* ---------- footer style below ---------- */
footer {
    height: 40px;
    width: 200px;
    margin-left: auto;
    margin-right: 3.5%;
    position: sticky;
    bottom: 2.5%;
}

footer ul {
    padding: 1% 2% 1% 1%;
    border-radius: 3px;
    text-align: right;
}

footer li {
    display: inline-block;
    padding-inline: 10%;
}

footer img {
    width: 75%;
    filter: invert(25%) sepia(0%) saturate(13%) hue-rotate(238deg) brightness(97%) contrast(95%);
}

footer img:hover {
    filter: invert(25%) sepia(0%) saturate(13%) hue-rotate(238deg) brightness(60%) contrast(95%);
}